<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="../css/main.css" rel="stylesheet"> 
    <title>Cavaleiro Caído</title>
    <link rel="icon" href="../images/icones/casa.png">
</head>
<body>
    
    <header>
        <div id="logo">            
            <h1>Cavaleiro Caído</h1>
        </div>
        
        <div id="links">
            
            <a href="/"><img src="../images/icones/casa.png">Inicio</a>            
            <a href="/tutoriais"><img src="../images/icones/tutorial.png"> Tutoriais</a>
        </div>        
        
        <div id="login">
            <a href="/entrar"><button><img id="entrar" src="../images/icones/entrar_1.png">Entrar</button></a>
            <a href="/cadastro"><button><img src="../images/icones/cadastro.png">Cadastrar</button></a>
        </div>

        <div id="chat">
            <img src="../images/icones/chat.png">
        </div>
        
    </header>

    <main>
    </main>

    

    <footer>
        <div id="info">
            <li><p><a href="/contato">Contato</a></p></li>
            <li><p><a href="/sobre">Sobre nós</a></p></li>
            <li><p>Portugues (PT-BR)</p></li>
        </div>

        <div id="logo_footer">
            <img src="../images/icones/casa.png">    
        </div>

        <div id="redes">
            <label>Siga-nos:</label>
            <div>
                <button id="whats"></button>
                <button id="insta"></button>
                <button id="face"></button>
            </div>
        </div>

    </footer>
</body>
</html>