<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="../css/styles.css" rel="stylesheet">
    <title>PlaceHolder</title>
    <script src="../script/page.js" defer></script>
    <script src="../script/game.js" defer></script>
</head>
<body>
    
    <header>
        <h1>Site Nome</h1>
        <h3>Login</h3>
        <h3>Cadastrar</h3>
    </header>

    <aside>
        <a href="/home">Página inicial</a>
        <a href="/gameTest">Game Test</a>
        <a href="/cadastro">Cadastro</a>
        <a href="/login">Login</a>
        <a href="/cadastrados">Cadastrados</a>
    </aside>

    <main>
        Cadastrados:
    </main>

    <footer>
        <h3>Autores: Andrey, Christian, Filipe, João</h3>
    </footer>
</body>
</html>