<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <title>Cavaleiro Caído</title>

    <link href="../css/main.css" rel="stylesheet"> 
    <link href="../css/cadastrar.css" rel="stylesheet"> 
    <link rel="icon" href="../images/icones/casa.png">

</head>

<body>
    
    <header>

        <div id="logo">            
            <img src="../images/logos/logo.png">
        </div>
        
        <div id="links">
            
            <a href="/"><img src="../images/icones/casa.png">Inicio</a>            
            <a href="/tutoriais"><img src="../images/icones/tutorial.png"> Tutoriais</a>
        </div>        
        
        <div id="login">
            <a href="/entrar"><button><img id="entrar" src="../images/icones/entrar_1.png">Entrar</button></a>
            <a href="/cadastro"><button><img src="../images/icones/cadastro.png">Cadastrar</button></a>
        </div>

        <div id="chat">
            <img src="../images/icones/chat.png">
        </div>
    </header>

    <main>

      <div id="boxForms">

        <div id="logo">            
          <img src="../images/logos/logo.png">
        </div>
        
        <form action="" method="post">
            
            <h2>Cadastro</h2>
            <label>
                <input type="file" accept="image/*" name="imgPerfil" id="imgPerfil">
                <figure for="imgPerfil"><img src="../images/icones/marcio.jpg"></figure>
                <label for="imgPerfil">Imagem de Perfil</label>            
            </label>

            <div id="valores">

                <label for="Nome">Nome:</label>
                <input type="text" maxlength="30" name="nome" id="item1" required>

                <label for="Data de Nascimento">Data de Nascimento:</label>
                <input type="date" name="dataNascimento" id="item2" required>

                <label for="E-mail">E-mail:</label>
                <input type="email" name="emailCadastro" id="item3" required>

                <label for="Senha">Senha:</label>
                <input type="password" name="senha" id="item4" required>

                <label for="Confirmar Senha">Confirmar Senha:</label>
                <input type="password" name="confirmarSenha" id="item5" required>

                <a href="/entrar">
                    <p>Já é cadastrado? Faça login.</p>
                </a>
            </div>

            <input type="submit" name="cadastrar" value="Cadastrar">

            <a href="/login_efetuado">Ir para login efetuado</a>
        </form>

      </div>
    </main>

    <footer>

        <div id="info">
            <li><p><a href="/contato">Contato</a></p></li>
            <li><p><a href="/sobre">Sobre nós</a></p></li>
            <li><p>Portugues (PT-BR)</p></li>
        </div>

        <div id="logo_footer">
            <img src="../images/icones/casa.png">    
        </div>

        <div id="redes">

            <label>Siga-nos:</label>

            <div>
                <button id="whats"></button>
                <button id="insta"></button>
                <button id="face"></button>
            </div>

        </div>
    </footer>
</body>
</html>