<!DOCTYPE html>

<html lang="pt-br">

<head>
    <script src="../script/paginas/cadastro.js" defer></script>
    <link href="../css/cadastrar.css" rel="stylesheet">
</head>

<%- include('./layout/head.html') %>

<body>
    
    <%- include('./layout/header.html')%>

    <main>

      <div id="boxForms">

        <div id="logo">            
          <img src="../images/logos/logo.png">
        </div>
        
        <form action="/cadastrarUsuario" method="post">
            
            <h2 class="cadastro-titulo">Cadastro</h2>

            <div class="imagem-container input-container">
                <input type="file" accept="image/*" name="imgPerfil" id="imgPerfil">
                <figure for="imgPerfil"><img src="../images/icones/perfil.png" id="img"></figure>
                <label for="imgPerfil">Imagem de Perfil</label>            
            </div>

            <div class="nome-container input-container">
                <label for="nome">Nome:</label>
                <input type="text" maxlength="30" name="nome" id="nome" required>                
            </div>

            <div class="nascimento-container input-container">
                <label for="dataNascimento">Data de Nascimento:</label>
                <input type="date" name="dataNascimento" id="dataNascimento" required>
            </div>

            <div class="email-container input-container">
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email" required>
            </div>

            <div class="senha-container input-container">
                <label for="Senha">Senha:</label>
                <input type="password" name="senha" id="senha" required>
            </div>

            <div class="confirmar-container input-container">
                <label for="Confirmar Senha">Confirmar Senha:</label>
                <input type="password" name="confirmarSenha" id="confirmarSenha" required>
            </div>

            <a href="/entrar" class="possui-cadastro-container">
                Já é cadastrado? Faça login.
            </a>

            <input type="submit" name="acao" value="Cadastrar" class="confirmar-input">
        </form>

      </div>
    </main>

    <%- include('./layout/chat') %>
    
    <%- include('./layout/footer.html') %>
    
</body>
</html>