<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="../css/main.css" rel="stylesheet"> 
    <link href="../css/cadastrados.css" rel="stylesheet"> 
    <title>Cavaleiro Caído</title>
    <link rel="icon" href="../images/icones/casa.png">
</head>
<body>
    
    <header>
        <div id="logo">            
            <img src="../images/logos/logo.png">
        </div>
        
        <div id="links">
            
            <a href="/"><img src="../images/icones/casa.png">Inicio</a>            
            <a href="/tutoriais"><img src="../images/icones/tutorial.png"> Tutoriais</a>
        </div>        
        
        <div id="login">
            <a href="/entrar"><button><img id="entrar" src="../images/icones/entrar_1.png">Entrar</button></a>
            <a href="/cadastro"><button><img src="../images/icones/cadastro.png">Cadastrar</button></a>
        </div>

        <div id="chat">
            <img src="../images/icones/chat.png">
        </div>
        
    </header>

    <main>
        <div id="boxTable">
            <div id="opcoes">
                <div id="filtro">
                    <input type="text" placeholder="digite seu filtro"></input>
                    <button>aplicar filtro</button>
                </div>   
                <div id="acoes">
                        <button>inserir</button>
                        <button>atualizar</button>
                        <button>retirar</button>
                    </ul>
                </div>
            </div>
            <table>
                <tr class="cabecalho">
                    <th>Seleção</th>
                    <th>Nome</th>
                    <th>Permissão</th>
                    <th>Email</th>
                    <th>Senha</th>
                    <th>Data de Nascimento</th>
                </tr>
                <tr>
                    <td id="checkbox"><input type="checkbox"></input></td>
                    <td>Filipe</td>
                    <td>Administrador</td>
                    <td>Fulano@cavaleiro.com</td>
                    <td>@Senha123</td>
                    <td>15/11/2000</td>
                </tr>
                <tr>
                    <td id="checkbox"><input type="checkbox"></input></td>
                    <td>João Vitor Rodrigues Morrudo</td>
                    <td>Administrador</td>
                    <td>Fulano@cavaleiro.com</td>
                    <td>@Senha123</td>
                    <td>15/11/2000</td>
                </tr>
                <tr>
                    <td id="checkbox"><input type="checkbox"></input></td>
                    <td>Andrey</td>
                    <td>Administrador</td>
                    <td>Fulano@cavaleiro.com</td>
                    <td>@Senha123</td>
                    <td>15/11/2000</td>
                </tr>
                <tr>
                    <td id="checkbox"><input type="checkbox"></input></td>
                    <td>Christian</td>
                    <td>Administrador</td>
                    <td>Fulano@cavaleiro.com</td>
                    <td>@Senha123</td>
                    <td>15/11/2000</td>
                </tr>
                <tr>
                    <td id="checkbox"><input type="checkbox"></input></td>
                    <td>Gustavo</td>
                    <td>Administrador</td>
                    <td>Fulano@cavaleiro.com</td>
                    <td>@Senha123</td>
                    <td>15/11/2000</td>
                </tr>
                <tr>
                    <td id="checkbox"><input type="checkbox"></input></td>
                    <td>Victor</td>
                    <td>Administrador</td>
                    <td>Fulano@cavaleiro.com</td>
                    <td>@Senha123</td>
                    <td>15/11/2000</td>
                </tr>
                <tr>
                    <td id="checkbox"><input type="checkbox"></input></td>
                    <td>João Pedro</td>
                    <td>Administrador</td>
                    <td>Fulano@cavaleiro.com</td>
                    <td>@Senha123</td>
                    <td>15/11/2000</td>
                </tr>
            </table>
        </div>
    </main>

    

    <footer>
        <div id="info">
            <li><p><a href="/contato">Contato</a></p></li>
            <li><p><a href="/sobre">Sobre nós</a></p></li>
            <li><p><a href="/cadastrados">Cadastrados</a></p></li>
            <li><p>Portugues (PT-BR)</p></li>
        </div>

        <div id="logo_footer">
            <img src="../images/icones/casa.png">    
        </div>

        <div id="redes">
            <div>
                <label>Siga-nos:</label>
                <div>
                    <button id="whats"></button>
                    <button id="insta"></button>
                    <button id="face"></button>
                </div>
            </div>
        </div>

    </footer>
</body>
</html>