<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">    
    <link href="../css/main.css" rel="stylesheet">
    <title>Confirma</title>
</head>
<body>
    <header>
        <div id="logo">
            <h1>Cavaleiro Caído |</h1>
        </div>
        
        <div id="links">
            <a href="/">Inicio</a>
            <a href="/tutoriais">Tutoriais</a>
        </div>        
        
        <div id="login">
            <a href="/entrar"><button>Entrar</button></a>
            <a href="/cadastro"><button>Cadastrar</button></a>
        </div>

        <div id="chat">
            <h3>Chat</h3>
        </div>
        
    </header>
    <main></main>
    <footer>
        <div id="redes">
            <label>Siga-nos:</label>
            <div>
                <button id="whats"></button>
                <button id="insta"></button>
                <button id="face"></button>
            </div>
        </div>

        <div id="logo">Logo</div>

        <div id="info">
            <li>Contato</li>
            <li>Sobre nós</li>
            <li>Portugues (PT-BR)</li>
        </div>
    </footer>
</body>
</html>