<!DOCTYPE html>

<html lang="pt-br">

<head>
    <link href="../css/entrar.css" rel="stylesheet">
</head>

<%- include('./layout/head.html') %>

<body>
    
    <%- include('./layout/header.ejs')%>

    <main>

      <div id="boxForms">

        <div id="logo">
          <img src="../images/logos/logo.png">
        </div>
        
        <form action="/login" method="post">
            
            <h2>Login</h2>

            <p>
                Seu progresso no jogo será salvo (incluindo suas skins), você poderá desbloquear
                conquistar, interagir com a comunidade e muito mais, ao logar-se.
            </p>

            <label for="E-mail">E-mail:</label>
            <input type="email" name="email" id="emailLogin" required>

            <label for="Senha">Senha:</label>
            <input type="password" name="senha" id="senhaLogin" required>

            <a href="/cadastro">
                <p>Não é cadastrado? Cadastre-se.</p>
            </a>

            <input type="submit" name="entrar" value="Entrar">
            
        </form>

      </div>
    </main>

    <%- include('./layout/chat') %>
    
    <%- include('./layout/footer.ejs') %>
    
</body>
</html>