<footer>
    <div id="info">
        <li><p><a href="/contato">Contato</a></p></li>
        <li><p><a href="/sobre">Sobre nós</a></p></li>
        <li><p><a href="/cadastrados">Cadastrados</a></p></li>
        <li><p>Portugues (PT-BR)</p></li>
    </div>

    <div id="logo_footer">
        <img src="../images/icones/casa.png">    
    </div>

    <div id="redes">
        <div>
            <label>Siga-nos:</label>
            <div>
                <button id="whats"></button>
                <button id="insta"></button>
                <button id="face"></button>
            </div>
        </div>
    </div>

</footer>