<footer>
    <div id="info">
        <li><p><a href="/contato">Contato</a></p></li>
        <li><p><a href="/sobre">Sobre nós</a></p></li>
        <li><p><a href="/cadastrados">Cadastrados</a></p></li>
        <select id="idiomas">
            <option value="portugues">Português (PT-BR)</option>
            <option value="english">English (EN)</option>
            <option value="francais">Français</option>
            <option value="deutsch">Deutsch</option>
            <option value="hebrew">Hebrew</option>
            <option value="simp_chinese">Chinese (simplified)</option>
            <option value="greek">Greek</option>
            <option value="irish">Irish Gaeilge</option>
        </select>
    </div>

    

    <div id="logo_footer">
        <img src="../images/icones/casa.png">    
    </div>

    <div id="redes">
        <div>
            <label id="rotuloRedes">Siga-nos:</label>
            <div>
                <button id="whats"></button>
                <button id="insta"></button>
                <button id="face"></button>
            </div>
        </div>
    </div>

</footer>