<script src="../script/paginas/tradutor.js" type="module" defer></script>
<header>                
    <div id="logo">            
        <img src="../images/logos/logo.png">
    </div>
    
    <div id="links">
        <a href="/"><img src="../images/icones/casa.png"><span id="txtInicio">Inicio</span></a>            
        <a href="/tutoriais"><img src="../images/icones/tutorial.png"><span id="txtTutoriais">Tutoriais</span></a>
        <a href="/minijogos"><img src="../images/icones/alvo.png"><span id="txtMinijogos">Mini-Jogos</span></a>
    </div>        
    
    <div id="login">
        <a href="/entrar"><button><img id="entrar" src="../images/icones/entrar_1.png"><span id="txtEntrar">Entrar</span></button></a>
        <a href="/cadastro"><button><img src="../images/icones/cadastro.png"><span id="txtCadastrar">Cadastrar</span></button></a>
    </div>

    <div id="chat">
        <img src="../images/icones/chat.png">
    </div>
    
</header>