<header>                
    <div id="logo">            
        <img src="../images/logos/logo.png">
    </div>
    
    <div id="links">
        <a href="/"><img src="../images/icones/casa.png">Inicio</a>            
        <a href="/tutoriais"><img src="../images/icones/tutorial.png"> Tutoriais</a>
        <a href="/minijogos"><img src="../images/icones/alvo.png"> Mini-Jogos</a>
    </div>        
    
    <div id="login">
        <a href="/entrar"><button><img id="entrar" src="../images/icones/entrar_1.png">Entrar</button></a>
        <a href="/cadastro"><button><img src="../images/icones/cadastro.png">Cadastrar</button></a>
    </div>

    <div id="chat">
        <img src="../images/icones/chat.png">
    </div>
    
</header>