<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link href="../css/home.css" rel="stylesheet">        
    <script src="../script/jogo/game.js" type="module" defer></script>    
</head>

<%- include('./layout/head.html') %>

<body>
    
    <%- include('./layout/header.ejs')%>

    <main id="main-container">
        <div id="descricao">
            <h2><span class="traduzir bemvindo">Bem-Vindo ao nosso site!</span></h2>
            <p><span class="traduzir bemvindotexto">Bem-vindo a equipe responsável por desenvolver o projeto "Cavaleiro Caído". Este projeto se baseia no desenvolvimento de um jogo e site de mesmo nome, o qual conta a história de um personagem
                que acorda, em um estado amnésico, num laboratório subterrâneo e tem de enfrentar desafios e criaturas para sair de lá, ao mesmo tempo que el vai encontrando pistas sobre o que é aquele lugar
                e quem é ele mesmo ou até porque ele está ali...
            </span></p>
            <button type="submit" id="playButton"><span id="txtPlay">JOGAR</span></button>
            
                      
        </div>
        

        <canvas id="game">

        </canvas>
        <div id="overlayEndGame">
            <button type="submit" id="PlayAgainButton"><span id="txtPlayAgain">JOGAR NOVAMENTE</span></button>

        </div>
    </main>

    <%- include('./layout/chat') %>
    
    <%- include('./layout/footer.ejs')%>

		
		
</script>
</body>
</html>