<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/home.css" rel="stylesheet">    
    <title>Cavaleiro Caído</title>
    <script src="../script/game.js" defer></script>
</head>
<body>
    
    <header>
        <div id="logo">
            <h1>Cavaleiro Caído |</h1>
        </div>
        
        <div id="links">
            <a href="/">Inicio</a>
            <a href="/tutoriais">Tutoriais</a>
        </div>        
        
        <div id="login">
            <a href="/entrar"><button>Entrar</button></a>
            <a href="/cadastro"><button>Cadastrar</button></a>
        </div>

        <div id="chat">
            <h3>Chat</h3>
        </div>
        
    </header>

    <main>
        <div id="descricao">
            <h2>Bem-Vindo ao nosso site!</h2>
            <p>Bem-vindo a equipe responsável por desenvolver o projeto "Cavaleiro Caído". Este projeto se baseia no desenvolvimento de um jogo e site de mesmo nome, o qual conta a história de um personagem
                que acorda, em um estado amnésico, num laboratório subterrâneo e tem de enfrentar desafios e criaturas para sair de lá, ao mesmo tempo que el vai encontrando pistas sobre o que é aquele lugar
                e quem é ele mesmo ou até porque ele está ali...
            </p>
            <button type="submit" id="playButton"> JOGAR</button>
        </div>
        
        <canvas id="game"></canvas>
    </main>

    <footer>
        <div id="redes">
            <label>Siga-nos:</label>
            <div>
                <button id="whats"></button>
                <button id="insta"></button>
                <button id="face"></button>
            </div>
        </div>

        <div id="logo">Logo</div>

        <div id="info">
            <li>Contato</li>
            <li>Sobre nós</li>
            <li>Portugues (PT-BR)</li>
        </div>
    </footer>
</body>
</html>