<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/home.css" rel="stylesheet">    
    <title>Cavaleiro Caído</title>
    <script src="../script/game.js" defer></script>
    <link rel="icon" href="../images/simbolo_home.png">
</head>
<body>
    
    <header>
        <div id="logo">            
            <h1>Cavaleiro Caído</h1>
        </div>
        
        <div id="links">
            
            <a href="/"><img src="../images/icone_casa_2_test.png">Inicio</a>            
            <a href="/tutoriais"><img src="../images/simbolo_tutorial_test.png"> Tutoriais</a>
        </div>        
        
        <div id="login">
            <a href="/entrar"><button><img id="entrar" src="../images/porta_1.png">Entrar</button></a>
            <a href="/cadastro"><button><img src="../images/simbolo_cadastro.png">Cadastrar</button></a>
        </div>

        <div id="chat">
            <img src="../images/chat_img.png">
        </div>
        
    </header>

    <main>
        <div id="descricao">
            <h2>Bem-Vindo ao nosso site!</h2>
            <p>Bem-vindo a equipe responsável por desenvolver o projeto "Cavaleiro Caído". Este projeto se baseia no desenvolvimento de um jogo e site de mesmo nome, o qual conta a história de um personagem
                que acorda, em um estado amnésico, num laboratório subterrâneo e tem de enfrentar desafios e criaturas para sair de lá, ao mesmo tempo que el vai encontrando pistas sobre o que é aquele lugar
                e quem é ele mesmo ou até porque ele está ali...
            </p>
            <button type="submit" id="playButton"> JOGAR</button>
            
        </div>
        <canvas id="game"></canvas>
        <div id="chatAside">

            ABC

        </div>

    </main>

    

    <footer>
        <div id="info">
            <li><p>Contato</p></li>
            <li><p>Sobre nós</p></li>
            <li><p>Portugues (PT-BR)</p></li>
        </div>

        <div id="logo_footer">
            <img src="../images/icone_casa_2_test.png">    
        </div>

        <div id="redes">
            <label>Siga-nos:</label>
            <div>
                <button id="whats"></button>
                <button id="insta"></button>
                <button id="face"></button>
            </div>
        </div>

    </footer>
</body>
</html>