<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="../css/styles.css" rel="stylesheet">
    <title>PlaceHolder</title>
    <script src="../script/game.js" defer></script>
</head>
<body>
    
    <header>
        <h1>Site Nome</h1>
        <h3>Login</h3>
        <h3>Cadastrar</h3>
    </header>

    <aside>
        <ul>
            <li><a href="/home">Página inicial</a></li>
            <li><a href="/cadastro">Cadastro</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/cadastrados">Cadastrados</a></li>
        </ul>
    </aside>

    <main id="main">
        <h2>Bem-Vindo ao nosso site!</h2>
        <p>Bem-vindo a equipe responsável por desenvolver o projeto "Cavaleiro Caído". Este projeto se baseia no desenvolvimento de um jogo e site de mesmo nome, o qual conta a história de um personagem
            que acorda, em um estado amnésico, num laboratório subterrâneo e tem de enfrentar desafios e criaturas para sair de lá, ao mesmo tempo que el vai encontrando pistas sobre o que é aquele lugar
            e quem é ele mesmo ou até porque ele está ali...
        </p>
        <button type="submit" id="playButton"> JOGAR</button>
        
        <canvas id="game">            
        </canvas>
    </main>

    <footer>
        <h3>Autores: Andrey, Christian, Filipe, Gustavo, João</h3>
    </footer>
</body>
</html>