<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="../css/styles.css" rel="stylesheet">
    <title>PlaceHolder</title>
</head>
<body>
    
    <header>
        <h1>Site Nome</h1>
        <h3>Login</h3>
        <h3>Cadastrar</h3>
    </header>

    <aside>
        <ul>
            <li><a href="/home">Página inicial</a></li>
            <li><a href="/cadastro">Cadastro</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/cadastrados">Cadastrados</a></li>
        </ul>
    </aside>

    <main>
        <h2>Login:</h2></br>
        <table>
            <tr>
                <td>a</td>
                <td>b</td>
            </tr>
            <tr>
                <td>a</td>
            </tr>
        </table>
    </main>

    <footer>
        <h3>Autores: Andrey, Christian, Filipe, Gustavo, João</h3>
    </footer>
</body>
</html>