<!DOCTYPE html>
<html lang="pt-br">

<%- include('./layout/head.html') %>

<body>
    
    <%- include('./layout/header.html')%>
    
    <main>
    </main>

    <aside id="chat-menu">

        <div id="pessoa">
            <img src="../images/icones/perfil.png">
            <p>Fulano de tal</p>
        </div>

        <div id="conversa">
        </div>

        <div id="mensagem">            
            <textarea placeholder="Escreva sua mensagem" id="texto"></textarea>
            <input type="button" value="Enviar" id="enviar-mensagem" for="texto">
        </div>

    </aside>

    <%- include('./layout/chat') %>
    
    <%- include('./layout/footer.html') %>
    
</body>
</html>