<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link href="../css/sobre.css" rel="stylesheet">
</head>

<%- include('./layout/head.html') %>

<body>
    
    <%- include('./layout/header.ejs')%>

    <main>
        <div id="container_cartoes">
            <div id = cartoes>
                <img src="../images/logos/instagram.jpg">
                <h1>Andrey Carlos Figueiró</h1>
                <h2>Personagem principal</h2>
                <span>cavaleiro@gmail.com</span>
                <a href="https://google.com" target="_blank"><span>portfolio</span></a>
            </div>
            <div id = cartoes>
                <img src="../images/logos/instagram.jpg">
                <h1>Christian Cruz Brito</h1>
                <h2>Personagem principal</h2>
                <span>cavaleiro@gmail.com</span>
                <a href="https://google.com" target="_blank"><span>portfolio</span></a>
            </div>
            <div id = cartoes>
                <img src="../images/logos/instagram.jpg">
                <h1>Filipe Backes Zatta</h1>
                <h2>Personagem principal</h2>
                <span>cavaleiro@gmail.com</span>
                <a href="https://google.com" target="_blank"><span>portfolio</span></a>
            </div>
            <div id = cartoes>
                <img src="../images/logos/instagram.jpg">
                <h1>Gustavo Azevedo Silveira</h1>
                <h2>Personagem principal</h2>
                <span>cavaleiro@gmail.com</span>
                <a href="https://google.com" target="_blank"><span>portfolio</span></a>
            </div>
            <div id = cartoes>
                <img src="../images/logos/instagram.jpg">
                <h1>João Pedro</h1>
                <h2>Personagem principal</h2>
                <span>cavaleiro@gmail.com</span>
                <a href="https://google.com" target="_blank"><span>portfolio</span></a>
            </div>
            <div id = cartoes>
                <img src="../images/logos/instagram.jpg">
                <h1>João Vitor Rodrigues Morrudo</h1>
                <h2>Personagem principal</h2>
                <span>cavaleiro@gmail.com</span>
                <a href="https://google.com" target="_blank"><span>portfolio</span></a>
            </div>
            <div id = cartoes>
                <img src="../images/logos/instagram.jpg">
                <h1>nome</h1>
                <h2>Personagem principal</h2>
                <span>cavaleiro@gmail.com</span>
                <a href="https://google.com" target="_blank"><span>portfolio</span></a>
            </div>


        </container>
    </main>

    <%- include('./layout/chat') %>
    
    <%- include('./layout/footer.ejs') %>
    
</body>
</html>