<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/sobre.css" rel="stylesheet">
    <script src="../script/chat.js" defer></script>
    <title>Cavaleiro Caído</title>
    <link rel="icon" href="../images/icones/casa.png">
</head>
<body>
    
    <header>
        <div id="logo">            
            <img src="../images/logos/logo.png">
        </div>
        
        <div id="links">
            
            <a href="/"><img src="../images/icones/casa.png">Inicio</a>            
            <a href="/tutoriais"><img src="../images/icones/tutorial.png"> Tutoriais</a>
        </div>        
        
        <div id="login">
            <a href="/entrar"><button><img id="entrar" src="../images/icones/entrar_1.png">Entrar</button></a>
            <a href="/cadastro"><button><img src="../images/icones/cadastro.png">Cadastrar</button></a>
        </div>

        <div id="chat">
            <img src="../images/icones/chat.png">
        </div>
        
    </header>

    <main>
        <div id="container_cartoes">
            <div id = cartoes>
                <img src="../images/logos/instagram.jpg">
                <h1>nome</h1>
                <hr>
                <h2>Personagem principal</h2>
                <span>cavaleiro@gmail.com</span>
                <br>
                <a href="https://google.com" target="_blank"><span>portfolio</span></a>

            </div>
            <div id = cartoes>
                <img src="../images/logos/instagram.jpg">
                <h1>nome</h1>
                <hr>
                <h2>Personagem principal</h2>
                <span>cavaleiro@gmail.com</span>
                <br>
                <a href="https://google.com" target="_blank"><span>portfolio</span></a>

            </div>
            <div id = cartoes>
                <img src="../images/logos/instagram.jpg">
                <h1>nome</h1>
                <hr>
                <h2>Personagem principal</h2>
                <span>cavaleiro@gmail.com</span>
                <br>
                <a href="https://google.com" target="_blank"><span>portfolio</span></a>

            </div>
            <div id = cartoes>
                <img src="../images/logos/instagram.jpg">
                <h1>nome</h1>
                <hr>
                <h2>Personagem principal</h2>
                <span>cavaleiro@gmail.com</span>
                <br>
                <a href="https://google.com" target="_blank"><span>portfolio</span></a>

            </div>
            <div id = cartoes>
                <img src="../images/logos/instagram.jpg">
                <h1>nome</h1>
                <hr>
                <h2>Personagem principal</h2>
                <span>cavaleiro@gmail.com</span>
                <br>
                <a href="https://google.com" target="_blank"><span>portfolio</span></a>

            </div>
            <div id = cartoes>
                <img src="../images/logos/instagram.jpg">
                <h1>nome</h1>
                <hr>
                <h2>Personagem principal</h2>
                <span>cavaleiro@gmail.com</span>
                <br>
                <a href="https://google.com" target="_blank"><span>portfolio</span></a>

            </div>
            <div id = cartoes>
                <img src="../images/logos/instagram.jpg">
                <h1>nome</h1>
                <hr>
                <h2>Personagem principal</h2>
                <span>cavaleiro@gmail.com</span>
                <br>
                <a href="https://google.com" target="_blank"><span>portfolio</span></a>

            </div>


        </container>
    </main>

    <aside id="chat-menu">

        <div id="pessoa">
            <img src="../images/icones/perfil.png">
            <p>Fulano de tal</p>
        </div>

        <div id="conversa">
            <div class="remetente">
                <span >Opa mano eai como vai?</span>
            </div>
            <div class="destinatario">
                <span >To bem cara e contigo?</span>
            </div>
        </div>

        <div id="mensagem">            
            <textarea placeholder="Escreva sua mensagem" id="texto"></textarea>
            <input type="button" value="Enviar" id="enviar-mensagem" for="texto">
        </div>

    </aside>
    

    <footer>
        <div id="info">
            <li><p><a href="/contato">Contato</a></p></li>
            <li><p><a href="/sobre">Sobre nós</a></p></li>
            <li><p><a href="/cadastrados">Cadastrados</a></p></li>
            <li><p>Portugues (PT-BR)</p></li>
        </div>

        <div id="logo_footer">
            <img src="../images/icones/casa.png">    
        </div>

        <div id="redes">
            <div>
                <label>Siga-nos:</label>
                <div>
                    <button id="whats"></button>
                    <button id="insta"></button>
                    <button id="face"></button>
                </div>
            </div>
        </div>

    </footer>
</body>
</html>