<!DOCTYPE html>
<html lang="pt-br">

<%- include('./layout/head.html') %>

<body>
    
    <%- include('./layout/header.ejs')%>

    <main style="padding-left:3%">
        <h1>Tutorial</h1>
        <hr>
        <h2>amigos:</h2>
        <ul>
            <li>1. crie uma conta</li>
            <li>2. entre na sua conta</li>
            <li>3. clique no botão de amigos no canto superior direito</li>
            <li>4. pesquise o nome do seu amigo em clique no botão ao lado do nome</li>
        </ul>
        <hr>
        <h2>chat:</h2>
        <ul>
            <li>1. entre na sua conta</li>
            <li>2. clique no botão de amigos no canto superior direito</li>
            <li>3. clique na flecha ao lado de "amigos"</li>
            <li>4. clique no nome do seu amigo</li>
            <li>5. escreva a sua mensagem e clique em enviar</li>
        </ul>
        <hr>
        <h2>jogo e pontuação:</h2>
        <ul>
            <li>1. entre na sua conta caso queira salvar a pontuação</li>
            <li>2. clique em jogar</li>
            <li>3. Derrote o máximo de monstros que conseguir</li>
            <li>4. clique na página de "pontuação" para ver o placar de líderes</li>
        </ul>
    </main>

    <%- include('./layout/chat') %>
    
    <%- include('./layout/footer.ejs') %>
    
</body>
</html>