<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/home.css" rel="stylesheet">    
    <title>Cavaleiro Caído</title>
    <link rel="icon" href="../images/icones/casa.png">
</head>
<body>
    
    <%- include('header.html')%>

    <main>
    </main>

    <%- include('aside.html') %>
    
    <%- include('footer.html') %>
    
</body>
</html>