main {
    padding: 50px;
    #boxTable{
        width: 80%;
        margin: auto;
        & input {
            color: black;
        }
        & #filtro {
            > input{
                width: 40%;
                padding: 5px;
            }
            >button {
                width: 10%;
                padding: 5px;
                border-radius: 8px;
            }
        }
        & #acoes {
            > button {
                width: 6vw;
                padding: 5px;
                margin: 5px 5px 10px 0px;
                border-radius: 6px;
            }
        }        
        > table {
            width: 100%;
            & tr {
                & td {
                    padding-left: 10px;
                    background-color: #141414;
                    & input {
                        width: 100%;
                        height: 20px;
                    }
                    /*bloquear a senha e fazer um hover pra ela aparecer*/
                }
                & #checkbox {
                    padding: 0;
                }
            }
        }
    }
}



table{
    border-collapse: collapse;
    border: 1px white solid;    

}
tr:first-child{
    background-color: rgba(21, 175, 21, 0.514);
}
th{
    border: 1px white solid;
    border-collapse: collapse;
}
td{    
    border-collapse: collapse;
    border: 1px white solid; 
    
}
tr>td:first-child{
    text-align: center;
    background-color: rgba(191, 238, 162, 0.208);
}