main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(18vh - 11vh - 100vh);
    > #boxForms {
        width: 40%;
        border: 3px solid white;        
        background-color: #141414;
        transform: scale(0.8);

        #logo {
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 3px solid white;
            > img{
                width: 250px;
            }
        }

        & form {       
            display: flex; 
            flex-direction: column;
            align-items: center;
            justify-content: center;
            > h2 {
                text-align: center;
                color: #8a4fff;
                margin-top: 10px;
            }    
            & figure {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                width: 80px;
                height: 80px;
                margin: auto;
                border-radius: 50%;
                border: 2px solid #8a4fff;
                overflow: hidden;
                > img{
                    width: 80px;
                }
            }
            #valores {
                display: flex;            
                flex-wrap: wrap;
                width: 100%;
                padding: 20px;
                > a, p {
                    color: #0cca4a;
                    text-decoration: none;
                }
                & input{
                    color: black;
                }
                .item1, .item2 {
                    margin-bottom: 10px;
                }

                .item1{
                    flex: 100%;
                    display: flex;
                    justify-content: space-between;                
                    > div {
                        flex-basis: 40%;
                        display: flex;
                        flex-direction: column;
                        line-break: strict;
                    }
                }
                .item2{
                    display: flex;
                    flex: 100%;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    > input{
                        width: 50%;
                    }
                }
                .item3{
                    flex: 100%;
                    display: flex;
                    justify-content: space-between;                
                    > div {
                        flex-basis: 40%;
                        display: flex;
                        flex-direction: column;
                    }
                }
            }

            & input[type=file]{
                display: none;
            }
            & input[type=submit]{
                background-color: #8a4fff;
                width: 23%;
                padding: 5px;
                border-radius: 6px;
                border: 2px solid white;
            }
        }
    }
}