main { 
    display: flex;
    justify-content: center;
    align-items: center;  
    
    > div {
        display: flex;
        flex-direction: column;        
        height: 60dvh;
        max-width: 90%;
        aspect-ratio: 10/9;
        border: 3px solid white;
        background-color: #141414;
        > #logo {
            height: 16%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 3px solid white;
            & img {                
                height: 100%;
            }
        }
    }

    & form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 0.8rem;
        height: 100%;
        width: 100%;
        padding: 0 5% 5% 5%;
        gap: 0.4rem;
        overflow: hidden;
        > h2 {
            color: #8a4fff;          
        }
        > p {
            text-align: justify;
        }
        > a  {
            text-decoration: none;
            > p {
                color: #0cca4a;
            }
        }
        > input {
            width: 60%;
            height: 6%;
            color: black;
            padding: 1%;
        }
        > input[type=submit]{
            width: 30%;
            height: 10%;
            margin-top: 1%;
            padding: 0;
            font-size: 0.8rem;
            background-color: #8a4fff;
            border: 2px solid white;
            color: white;
            border-radius: 6px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}