main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #descricao{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        & p {
            width: 60%;
            margin: auto;
            text-align: justify;
        }
    }
    & button {
        padding: 1% 10% 1% 10%;
        border-radius: 10px;
        border: 0.1rem solid white;
        color: white;
        background-color: chocolate;
        font-size: larger;
        &:hover {
            cursor: pointer;
        }
    }
    :has( > canvas){
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    & #game-container {
        max-height: calc(100dvh - (100vw / 18) - (100vw / 9));
        aspect-ratio: 16/9;
        box-sizing: border-box;
        position: relative;
    }
    & canvas {
        display: none;        
        background-color: var(--canva-bg-color);
        max-height: calc(100dvh - (100vw / 18) - (100vw / 9));
        border-style: dotted;
        border-color: var(--bio-bg-color);
    }
    & #overlayEndGame{
        opacity: 50%;
        background-color: red;
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        visibility: hidden;
        justify-content: center;
        align-items: center;
        
    }
}


