main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #descricao{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        & p {
            width: 60%;
            margin: auto;
            text-align: justify;
        }
    }
    & button {
        padding: 1% 10% 1% 10%;
        border-radius: 10px;
        border: 0.1rem solid white;
        color: white;
        background-color: chocolate;
        font-size: larger;
        &:hover {
            cursor: pointer;
        }
    }
    :has( > canvas){
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    & canvas {
        display: none;        
        background-color: var(--canva-bg-color);
        max-width: 60%;
        max-height: 60%;
        border-style: dotted;
        border-color: var(--bio-bg-color);
    }
}

