/* função interessante
--size: 25px;
--aspect-ratio: 1;
width: var(--size);
height: calc(var(--size) / var(--aspect-ratio));]
*/


@font-face {
    font-family: 'November';
    src: url('../fonts/november/novem___.ttf') format('truetype');
    /*não tem alguns caracteres, acentos e etc*/
}

@font-face {
    font-family: 'Pixel Verdana';
    src: url('../fonts/pixel-verdana/PixelFJVerdana12pt.ttf') format('truetype');
    /*corrompida*/
}

@font-face {
    font-family: 'Pixelated';
    src: url('../fonts/pixelated/pixelated.ttf') format('truetype');
    /*corrompida*/
}

@font-face {
    font-family: 'Arcade';
    src: url('../fonts/arcade/ARCADECLASSIC.TTF') format('truetype');
    /*fica zoada*/
}

@font-face {
    font-family: 'David Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/David-Sans/David\ Sans.woff') format('woff');
    /*funciona bem*/
}
@font-face {
    font-family: 'David Sans Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/David-Sans/David\ Sans\ Condensed.woff') format('woff');
    /*font boa*/
}
@font-face{
    font-family: 'Minecraftia';
    font-style:normal;
    font-weight:400;
    src: url('../fonts/Minecraftia/Minecraftia.woff') format('woff')
    /*font do mine fica legal*/
}



/* Body Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "David Sans Condensed";
    
    /*
    font-family: "November";
    font-family: "Pixelated";
    font-family: "Arcade";
    font-family: "Pixel Verdana";
    */
    color: var(--main-text-color);
    /*outline: 1px solid red;*/
    /**/
}

/* variaveis de cor*/
:root{
    /*backgrounds*/
    --about-bg-color: #141414; 
    --bio-bg-color: #14213d;
    --side-bg-color: #533c28;
    --canva-bg-color: #63543d;
    /*text*/
    --main-color:  orangered;
    --main-text-color: #E8E8E8;
    --misc-text-color: #0f1f3b;
    /*borders*/
    --border-color: #ffffff ;
    --bio-border-color: #0f1f3b;

    --header-height: calc(0.10 * var(--body-height));
    --main-height: calc(var(--body-height) - var(--header-height) - var(--footer-height));
    --footer-height: calc(0.18 * var(--body-height));
    --body-height: 100dvh

/*https://coolors.co/palette/000000-14213d-fca311-e5e5e5-ffffff*/
}

body {
    min-height: var(--body-height);
}

button:hover {
    cursor: pointer;
}

button {
    background-color: var(--main-color);
    border: 1px solid var(--border-color);
}
header::before{
    min-height: var(--header-height);
}
header {    
    position: relative;
    padding-left: 20px;
    padding-right: 1px;
    min-height: var(--header-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: var(--bio-bg-color);

    & #logo{
        display: flex;
        align-items: end;
        padding-right: 10px;
        border-right: 3px solid white;
        > img {            
            max-height: calc(var(--header-height));
        }
    }

    & #links {
        margin-left: 1%;
        display: flex;

        > a > img {    
            max-height: calc(var(--header-height));
            padding: 10px;
        }

        > * {    
            text-decoration: none;    
            display: flex;
            align-items: center;
        }
    }

    & #login{
        display: flex; 
        justify-content: space-between;
        margin-left: auto;
        margin-right: 2%;

        & a {            
            text-decoration: none;
            > button {
                font-size: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                border-radius: 4px;
                width: 12vw;
                height: 5vh;
                overflow: hidden;
                padding: 5% 0 5% 0;
                font-weight: bold;
                margin-right: 10px;

                &:hover > #entrar{
                    content: url('../images/icones/entrar_2.png');
                }

                & img {
                    width: 30px;
                }
            }
        }
    }


    #chat{
        justify-content: center;
        align-items: center;
        display: flex;
        width:  var(--header-height);
        height: var(--header-height);
        background-color: var(--main-color);
        border: 1px solid white;
        > img {         
            width: 40px;
            aspect-ratio: 1/1;
        }
        &:hover {
            cursor: pointer;
        }
    }
} 

main {
    background-color: var(--about-bg-color);
    box-sizing: border-box;
    min-height: var(--main-height);    
    background-image: url(../images/outros/bghome.png);
}

aside, #chat-menu {
    position: absolute;
    display: none;
    right: 0;
    top: var(--header-height);
    height: calc(var(--body-height) - var(--header-height) - var(--footer-height));
    width: 18vw;
    background-color: #3f3f3f;
    flex-direction: column;
    overflow-y: auto;
    & #chats-container {
        & .chat {
            height: 8vh;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0.3vmin solid #111111;
            margin: 1%;
            & img {
                height: 100%;
                aspect-ratio: 1/1;
            }
            & .text {
                flex: 1;
                text-align: center;            
            }
            & .down-arrow {
                margin-right: 5%;
                padding: 1% 3%;
                border-radius: 1vmin;
                border: #111111 0.3vmin solid;
                &:hover {
                    cursor: pointer;
                }            
            }
        }
        & .chats {
            margin-right: 4%;
            margin-left: 1%;
            padding: 4%;
            border: 0.3vmin solid #111111;
            line-height: 200%;
            & div:hover {
                cursor: pointer;
                text-decoration: underline;            
            }
            & div {
                height: 4vh;
                display: flex;
                align-items: center;
                gap: 5%;
                margin: 3% 0%;
            }
            & img {
                height: 100%;
            }
        }        
    }
    
    & #conversa-container {
        height: 100%;
        & #perfil-conversa   {
            display: flex;
            background-color: #3f3f3f;
            height: 10%;
            align-items: center;
            justify-content: center;
            padding: 1%;
            gap: 2%;
            & #perfil-foto {
                height: 100%;
                aspect-ratio: 1/1;
                border-radius: 50%;
            }
            & p {
                flex: 1;
                text-align: center;
                align-self: center;
            }
            & #flecha-voltar {
                height: 60%;
                width: 8%;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        
        & #conversa{
            background-color: #5f5f5f;
            font-size: 12px;
            height: 70%;
            display: flex;
            flex-direction: column;
            overflow: auto;
            padding-bottom: 5%;
            & span {                     
                word-break: break-word;
            }
            > div {            
                border: 1px solid black;               
                padding: 3px;
                border-radius: 10px;
                margin-top: 8px;            
                max-width: 80%;
            }
            > div.remetente {
                align-self: flex-end;
            }
            > div.destinatario {
                align-self: flex-start;
            }
        }
        & #mensagem {
            height: 20%;
            background-color: #3f3f3f;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            > textarea {
                padding-left: 1%;
                width: 100%; 
                height: 70%;
                margin: auto;
                resize: none;
                font-size: 12px;
                color: black;
            }
            > input {
                color: black;
                width: 40%;
            }
        }
        & .visible {
            display: block;
        }
    }
    
    
}

& .visible {
    display: block;
}

& .invisible {
    display: none;
}

footer::before{
    min-height: var(--footer-height);
}
footer {
    max-height: var(--footer-height);
    min-height: var(--footer-height);
    overflow:hidden;
    position: relative; 
    display: flex;
    flex-direction: row;       
    background-color: var(--bio-bg-color);  
 
    
    > div {
        width: 100%;
    }
    
    & #info {
        padding: 10px;
        list-style: none;  
        font-size: 14px;
        display: flex;
        flex-direction: column;
        
        > li {
            padding: 3px;
            text-align: left;
            border-style: solid;
            border-color: var(--main-color);
            border-width: 0px 0px 0px 3px ;
            border-radius: 5%;
        
            > p {
                margin-left: 4px;
                > a {
                    text-decoration: none;
                }
            }
        }
    }
    #idiomaDiv {
        height: 50%;
        display: flex;
        align-items: end;
        > div {
            display: flex;            
        }
        #idiomaIcone {
            width: 40px;
        }        
    }

    & select, select option{
        border: none;
        outline: none;
        background-color: var(--bio-bg-color);
        border-radius: 5%;
        font-size: 15px;
    }

    & #logo_footer{        
        display: flex;
        justify-content: center;
        align-items: center;
        filter: drop-shadow(2px 1px 0 #000000) saturate(70%) brightness(10%) contrast(80%) opacity(80%) grayscale(100%);
        border: 1px solid rgb(0, 0, 0);
        box-shadow: 5px 10px 5px rgb(0, 0, 0) inset;
        background-color: rgb(114, 114, 114);
        > img{                
            height: calc(var(--footer-height) - 10px);
            filter: drop-shadow(4px 1px 0 #000000)brightness(1000%)
        }        
    }

    & #redes {
        padding: 10px;
        display: flex;
        justify-self: right;
        flex-direction: column;

        & * {
            align-self: end;
        }

        & button{
            padding: 15px;
            border-radius: 50%;
        }    

        & div {
            
            & #whats {    
                background-image: url("../images/logos/whatsapp.jpg");
                background-size: cover;
            }
            & #insta {    
                background-image: url("../images/logos/instagram.jpg");
                background-size: cover;
            }
            & #face {    
                background-image: url("../images/logos/facebook.png");
                background-size: cover;
        
            }
        }    
    }    
}