container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
}
#container_cartoes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#cartoes{
    /*top right bottom left*/
    margin: 8vh 4vw 2vh 4vw;
    border: solid 1px red;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    > *{
        color: black;
        text-align: center;
    }
    > img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

}