/* Body Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
}

header {
    display: grid;
    grid-template-columns: 80% 10% 10%;
    background-color: gray;
    padding: 15px;
}

header h3 {
    text-align: center;
}

aside {
    position: absolute;
    width: 15%;
    height: calc(100% - 30px - 136px);
    background-color: red;
    padding: 20px;
    white-space: pre-line;
    font-size: 10pt;
}

main {
    background-color: aquamarine;
    position: absolute;
    width: calc(85% - 40px);
    height: calc(100% - 30px - 96px);
    margin-left: calc(15% + 40px);
    text-align: center;
    
}    

main:has( > canvas) 
{ 
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    background-color: beige;
    width: 80%;
    height: 80%
}

footer {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    padding: 30px;
    text-align: center;
    background-color: gray;
    width: 100%;    
}

table, tr, td {    
    border: 1px solid black;
    border-collapse: collapse;
}