/* Body Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: grid;
    grid-template-columns: 90% 5% 5%;
    background-color: gray;
    padding: 20px;
}

header h3 {
    text-align: center;
}

footer {
    width: 98%;
    height: 60px;
    padding-left: 2%;
    padding-top: 2%;
    background-color: gray;
    position: absolute;
    bottom: 0;
}