<aside id="chat-menu">

    <div id="chats-container" class="visible">
        <input type="hidden" value="<%= userId %>" class="input-id">
        <div class="pesquisar">
            <div>Pesquisar Jogadores</div>
            <input type="text" placeholder="Digite o nome" class="pesquisar-input">            
        </div>
        <div class="chat global">
            <img src="../images/icones/icone_do_tradutor.png">
            <div class="text">GLOBAL</div>
            <div class="down-arrow">V</div>
        </div>

        <div class="chats invisible global-container">

            <div><img><div class="message-chat global-chat">GLOBAL - 1</div></div>
            <div><img><div class="message-chat global-chat">GLOBAL - 2</div></div>
            <div><img><div class="message-chat global-chat">GLOBAL - 3</div></div>
            <div><img><div class="message-chat global-chat">GLOBAL - 4</div></div>

        </div>

        <div class="chat amigos">
            <img src="../images/icones/perfil.png">
            <div class="text">AMIGOS</div>
            <div class="down-arrow">V</div>
        </div>

        <div class="chats invisible amigos-container">
            <div><img src="../images/icones/perfil.png"><div class="message-chat amigo-chat">FULANO DE TAL - 1</div><div class="editar-amigo">...</div></div>
            <div><img src="../images/icones/perfil.png"><div class="message-chat amigo-chat">FULANO DE TAL - 2</div><div class="editar-amigo">...</div></div>
            <div><img src="../images/icones/perfil.png"><div class="message-chat amigo-chat">FULANO DE TAL - 3</div><div class="editar-amigo">...</div></div>
            <div><img src="../images/icones/perfil.png"><div class="message-chat amigo-chat">FULANO DE TAL - 4</div><div class="editar-amigo">...</div></div>
        </div>
    </div>
    <div id="conversa-container" class="invisible">
        <div id="perfil-conversa">
            <img id="flecha-voltar" src="../images/icones/voltar_flecha.png">
            <img id='perfil-foto' src="../images/icones/perfil.png">
            <p id="nome-conversa">Fulano de tal</p>
        </div>

        <div id="conversa">
        </div>

        <div id="mensagem">            
            <textarea placeholder="Escreva sua mensagem" id="texto"></textarea>
            <input type="submit" value="Enviar" id="enviar-mensagem" for="texto">
        </div>
    </div>

</aside>