<footer id="rodape">
    <div id="info-container">
        <li><a href="/contato" class="traduzir contato">Contato</a></li>
        <li><a href="/sobre" class="traduzir sobre">Sobre nós</a></li>
        <li><a href="/cadastrados">Cadastrados</a></li>
        <div id="idioma-container">
            <img src="../images/icones/icone_do_tradutor.png" id="idiomaIcone">
            <select id="idiomas">
                <option value="portugues">Português (PT-BR)</option>
                <option value="english">English (EN)</option>
                <option value="espanol">Español</option>
                <option value="francais">Français</option>
                <option value="deutsch">Deutsch</option>
                <option value="hebrew">Hebrew</option>
                <option value="simp_chinese">Chinese (simplified)</option>
                <option value="greek">Greek</option>
                <option value="irish">Irish Gaeilge</option>
            </select>
        </div>
    </div>

    <div id="logo-footer-container">
        <img src="../images/icones/casa.png">    
    </div>

    <div id="redes-container">
        <div id="redes-div">
            <span id="siga" class="traduzir siga">Siga-nos:</span>
            <a id="whats"><img src="../images/logos/whatsapp.jpg"></a>
            <a id="insta"><img src="../images/logos/instagram.jpg"></a>
            <a id="face"><img src="../images/logos/facebook.png"></a>
        </div>
    </div>

</footer>