<script src="../script/paginas/tradutor.js" type="module" defer></script>
<header id="cabecalho">                
    <div id="logo">
        <img src="../images/logos/logo.png">
    </div>
    
    <div id="links">
        <a href="/"><img src="../images/icones/casa.png"><span class="traduzir inicio">Inicio</span></a>            
        <a href="/tutoriais"><img src="../images/icones/tutorial.png"><span class="traduzir tutoriais">Tutoriais</span></a>
        <a href="/minijogos"><img src="../images/icones/alvo.png"><span class="traduzir minijogos">Mini-Jogos</span></a>
    </div>        
    
    <div id="login">
        <a href="/entrar"><img id="entrar" src="../images/icones/entrar_1.png"><span class="traduzir entrar">Entrar</span></a>
        <a href="/cadastro"><img src="../images/icones/cadastro.png"><span class="traduzir cadastrar">Cadastrar</span></a>
    </div>

    <div id="chat">
        <img src="../images/icones/chat.png">
    </div>
    
</header>